.App {
  text-align: center;
}


.flag {
  width: 10
  0px;
  height: auto;
}

.font {
  color: red;
}

.list {
  display: flex;
}


.darkMode {
  background: #001c13;
  color: white;
}
.lightMode {
  background-color: #ade0c9;
  color: rgb(16, 33, 27);
}

.headerLight {
  background-color: brown;
}

.headerDark {
  background-color: darkslategray;
}
.switch {
  color: red;
}