.App {
  text-align: center;
}


.flag {
  width: 10
  0px;
  height: auto;
}

.font {
  color: red;
}

.list {
  display: flex;
}


#darkMode {
  background: #161717;
  color: white;
}
#lightMode {
  background-color: #dce0e0;
  color: rgb(16, 33, 27);

}


.switch {
  color: red;
}