
.flag {
    width: 100%;
    height: 53%;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 30px 70px;
    /* background: #000707; */
}

.countryWrapper {
    background: #0c2a2f;
    text-align: center;
    height: 24vw;
    margin: 20px 20px;
    color: white;
}

a{
    text-decoration: none;
}

a:hover {
    opacity: 0.70;
}