.flag {
  width: 500px;
  height: auto;
  border-radius: 30px;
  margin-left: 100px;
}

.detailsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 300px;
}

li {
  list-style: none;
  display: inline-block;
  border-style: solid;
  border-radius: 15px;
  margin: 5px 5px;
  padding: 10px 10px;
}

.btn {
  margin: 50px 50px 50px 100px;
  height: 35px;
  width: 100px;
  border-radius: 15px;
  border-style: none;
  background-color: #94beab;
  font-weight: bold;
}

.btn:hover {
  background: #87cc9e;
}
