.flag {
  width: 90%;
  border-radius: 30px;
  margin: 0 5vw;
}

.detailsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 300px;
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  border-style: solid;
  border-radius: 15px;
  margin: 5px 5px;
  padding: 10px 10px;
}

.btnBack {
  margin: 50px;
  height: 35px;
  width: 100px;
  border-radius: 15px;
  border-style: none;
  background-color: #94beab;
  font-weight: bold;
}

.btn:hover {
  background: #87cc9e;
}

.loading {
  display: flex;
  justify-content: center;
}



@media (max-width: 768px) {
  .detailsWrapper {
    grid-template-columns: 1fr;
  }

  .countryDescription {
    text-align: center;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .detailsWrapper {
    grid-template-columns: 1fr 1fr;
}

.countryDescription {
  text-align: center;
}
}